<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block style %}{% endblock %}
		<link rel="stylesheet" href="/assets/css/settings.css"> {% block title %}{% endblock %}
		</head>

		<body>
			<div class="overlay" id="overlay"></div>
			{% if company is not defined or company is empty %}
				{% include "../partials/header.twig" %}

			{% endif %}


			{% block main %}{% endblock %}
			{% block script %}{% endblock %}
		</body>
	</html>
