{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/addcomputer.css">
{% endblock %}

{% block title %}
	<title>Ajouter un ordinateur</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<div class="form-container">
				<h2>
					{% if computer %}
						Modifier le pc
					{% else %}
						Ajouter un pc
					{% endif %}
				</h2>
				<form action={% if computer %} "/update/computer/{{computer.id}}" {% else %} "" {% endif %} method="post">
					<div class="input-label-containers">
						<label for="adress">Adresse MAC *</label>
						<input type="text" name="adress" id="adress" value="{{computer.adress}}">
					</div>
					<div>
						<button class="btn-validate-update">
							{% if computer %}
								Modifier
							{% else %}
								Valider
							{% endif %}
						</button>
					</div>
					{% if error.adress %}
						<p class="error">{{error.adress}}</p>
					{% endif %}

					<p class="form-instructions">* Champs obligatoires</p>
				</form>
			</div>
			<div class="btn-container">
				<div class="btn-back">
					<a href="/">Retour</a>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
