{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/addcsv.css">
{% endblock %}

{% block title %}
	<title>Ajouter un csv</title>
{% endblock %}

{% block main %}
	<main>
		<section id="add-file">
			<form action="" method="post" enctype="multipart/form-data">
				<h4>Ajoutez un CSV</h4>
				<div class="file-input">
					<label for="file">Fichier CSV :</label>
					<input type="file" name="file" accept=".csv" required>
				</div>

				<div class="file-input">
					<label for="fileRename">Nouveau nom du fichier</label>
					<input type="text" name="fileRename" id="fileRename" required placeholder="Ajoutez un nom au fichier">
				</div>
				<button type="submit" class="btn-validate-update">Envoyer</button>
			</form>
		</section>
		<div class="btn-container">
			<div class="btn-back">
				<a href="/">Retour</a>
			</div>
		</div>
	</main>
{% endblock %}
