main {
    height: 100%;

    section {
        text-align: center;

        .btn-container {
            margin-bottom: 40px;
        }

        .radio-containers {
            margin: 10px;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            gap: 20px;

            input {
                width: 20px;
            }

            input:hover {
                cursor: pointer;
            }

            label:hover {
                cursor: pointer;
            }
        }

        select {
            width: 50%;
            height: 30px;
            border: 1px solid rgba(82, 82, 82, 0.043);
            font-size: 1em;
            color: black;
            border-radius: 5px;
            margin: 10px 0;
        }

        .btn-validate-update {
            margin-top: 10px;
            width: 50%;
        }
    }
}

#computer-choice {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}