body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;

    h3 {
        font-size: 1.5em;
    }
}

#table-views {

    width: 20%;
    height: 100%;
    position: fixed;

    #tab-choice {
        .tab-choice-container {
            padding: 10px;


            #title {
                font-weight: bold;
            }
        }

        #tab-choice-list {
            display: flex;
            flex-direction: column;
            align-items: start;


            ul {
                padding: 0;
                width: 100%;

                li {
                    padding: 5px 0;
                    margin-bottom: 10px;
                    width: 100%;
                    border-radius: 5px;
                    transition: 0.2s;

                    p {
                        margin-left: 10px;
                    }
                }

                li:hover {
                    background-color: #56638a11;
                    color: black;
                    cursor: pointer;
                    transition: 0.2s;
                }
            }

        }
    }

}

#table-display {
    border-left: 3px solid #56638aaf;
    width: 80%;
    margin-left: 20%;

    #display-board {
        padding: 10px;

        #company-info {
            background-color: white;
            box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
            border-radius: 5px;

            h4 {
                margin: 10px 0;
            }

            .company-info-container {
                padding: 10px;

                h4 {
                    font-size: 1.4em;
                }
            }

            .update-company {
                display: flex;

                .btn-validate-update {
                    margin-top: 0;
                    background: #8a5a5679;
                    color: white;
                }

                .btn-validate-update:hover {
                    background-color: #8a5a56;
                    color: white;
                }

                form {
                    padding: 10px;
                }
            }
        }

        #recent-add {
            display: flex;
            gap: 2%;
            margin-top: 10px;

            h4 {
                font-size: 1.4em;
            }


            .recent-add-workers {
                background-color: white;
                box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
                border-radius: 5px;
                width: 49%;
            }

            .recent-add-files {
                background-color: white;
                box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
                border-radius: 5px;
                width: 49%;
            }

            .recent-container {
                padding: 10px;

                ul {
                    padding: 0;

                    .file-info {
                        margin: 5px 0;
                    }

                    li {
                        p {
                            margin: 0;
                            font-weight: 100;
                        }
                    }

                    .line {
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: #EEEEEE;
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    #display-workers {

        text-align: left;
        position: relative;

        .display-workers-container {
            padding: 10px;
            border-left: 3px solid #56638aaf;

            .workers-utils {
                display: flex;
                align-items: center;
                padding: 10px;

                justify-content: space-between;

                .worker-add-container {
                    a {
                        padding: 2px;

                        .btn-add {
                            position: relative;
                            text-decoration: none;
                        }

                        .btn-add:hover {
                            color: #63A088;
                            transition: color 0.2s;
                        }
                    }
                }
            }
        }
    }

    #searchInput {
        padding: 7px;
        border: none;
    }

    #searchInput:focus {
        border: 2px solid #63A088;
        border-radius: 5px;
        outline: none;
    }

    #confirm-delete-modal {
        display: none;
        height: 200px;
        width: 400px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        top: 25%;
        left: 25%;
        z-index: 1001;

        .confirm-delete-modal-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .header {
        background: #56638aaf;
    }

    .header:hover {
        background: #56638aaf;
    }

    table {
        border-spacing: 0;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        background-color: white;

        th {
            width: 10%;
            padding: 5px;
        }

        tr {
            padding: 2px;

        }

        tr:hover {
            background: #56638a10;
        }
    }

    .btn-container {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .btn-validate-update {
            margin: 0;
        }
    }

}

#display-computers {
    border-left: 3px solid #56638aaf;
    height: 100%;

    .display-computers-container {
        padding: 10px;

    }

    .tab-container {
        table {
            width: 100%;
            text-align: left;
            border-spacing: 0;


            .header {
                background: #56638aaf;
            }

            table {
                background-color: white;
            }

            tr {
                border-bottom: 1px solid black;
            }

            tr:hover {
                background: #56638a10;
            }

            th {
                width: 25%;
            }

            .btn-container {
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: left;
                gap: 10px;

                .btn-validate-update {
                    margin: 0;
                }
            }
        }
    }
}