body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;


    h3 {
        font-size: 1.5em;
    }
}

#table-views {
    border-right: 3px solid #56638aaf;
    width: 20%;
    height: 100%;

    #tab-choice {
        .tab-choice-container {
            padding: 10px;

            #title {
                font-weight: bold;
            }
        }

        #tab-choice-list {
            display: flex;
            flex-direction: column;
            align-items: start;


            ul {
                padding: 0;
                width: 100%;

                li {
                    padding: 5px 0;
                    margin-bottom: 10px;
                    width: 100%;
                    border-radius: 5px;
                    transition: 0.2s;

                    p {
                        margin-left: 10px;
                    }
                }

                li:hover {
                    background-color: #56638a11;
                    color: black;
                    cursor: pointer;
                    transition: 0.2s;
                }
            }

        }
    }

}

#table-display {
    width: 80%;

    #display-board {
        padding: 10px;

        .board-container {
            padding-bottom: 20px;

            #btn-add-container {
                display: flex;
                justify-content: space-around;

                .btn-add {
                    background-color: #56638a11;
                    transition: 0.2s ease;
                    padding: 10px;
                    margin: 10px 0;
                    border-radius: 5px;
                }

                .btn-add:hover {
                    background-color: #63a0889f;
                    color: black;
                    transition: 0.2s ease;
                }
            }
        }

        #company-info {
            background-color: white;
            box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
            border-radius: 5px;

            h4 {
                margin: 10px 0;
            }

            .company-info-container {
                padding: 10px;

                h4 {
                    font-size: 1.4em;
                }
            }
        }

        #recent-add {
            h4 {
                font-size: 1.4em;
            }

            display: flex;
            gap: 2%;
            margin-top: 10px;

            .recent-add-workers {
                background-color: white;
                box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
                border-radius: 5px;
                width: 49%;
            }

            .recent-add-files {
                background-color: white;
                box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
                border-radius: 5px;
                width: 49%;
            }

            .recent-container {
                padding: 10px;

                ul {
                    padding: 0;

                    .file-info {
                        margin: 5px 0;
                    }

                    li {
                        p {
                            margin: 0;
                            font-weight: 100;
                        }
                    }

                    .line {
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: #EEEEEE;
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    #display-workers {

        text-align: left;
        border-bottom: 1px solid #56638aaf;
        position: relative;

        .display-workers-container {
            padding: 10px;
        }

        #searchInput {
            padding: 7px;
            border: none;
            margin-bottom: 10px;
        }

        #searchInput:focus {
            border: none;
            outline: none;
        }

        #confirm-delete-modal {
            display: none;
            height: 200px;
            width: 400px;
            position: absolute;
            background-color: white;
            border-radius: 5px;
            text-align: center;
            top: 25%;
            left: 25%;
            z-index: 1001;

            .confirm-delete-modal-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        .header {
            background: #56638aaf;
        }

        .header:hover {
            background: #56638aaf;
        }

        table {
            border-spacing: 0;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            background-color: white;

            th {
                width: 10%;
                padding: 5px;
            }

            tr {
                padding: 2px;

            }

            tr:hover {
                background: #56638a10;
            }
        }

        .btn-container {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .btn-validate-update {
                margin: 0;
            }
        }

    }

    #display-computers {
        back .display-computers-container {
            padding: 10px;
        }

        .tab-container {
            table {
                width: 100%;
                text-align: left;
                border-spacing: 0;


                .header {
                    background: #56638aaf;
                }

                table {
                    background-color: white;
                }

                tr {
                    border-bottom: 1px solid black;
                }

                tr:hover {
                    background: #56638a10;
                }

                th {
                    width: 25%;
                }

                .btn-container {
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    gap: 10px;

                    .btn-validate-update {
                        margin: 0;
                    }
                }



            }
        }
    }
}