section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-container {
    margin-bottom: 40px;
}

.btn-back {
    margin-top: 0;
}

.btn-validate-update {
    margin-top: 20px;
    width: 50%;
}

.form-instructions {
    margin: 0;
}

@media screen and (max-width: 360px) and (max-height: 740px) {

    * {
        margin: 0;
    }

    body {
        overflow: hidden;
        text-align: center;
    }

    main {
        margin: auto;
    }

    #register {
        display: none;
    }

    header {
        margin-top: 20px;

        h1 {
            margin-left: 10px;
        }
    }
}