body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: rgba(0, 0, 0, 0.849);


    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.849);
    }

    li {
        list-style: none;
    }

    .error {
        color: red;
        font-style: italic;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.398);
        /* Rouge avec transparence */
        z-index: 1000;
        /* Assurez-vous que l'overlay est au-dessus des autres éléments */
    }
}

tr {
    padding: 2px;
    border-radius: 5px;

}

tr:hover:not(.header) {
    background: #56638a10;
}

header {
    height: 10%;
    width: 100%;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;

        h1 {
            letter-spacing: 1px;
        }

        ul {
            display: flex;
            gap: 20px;

            a {
                font-weight: 400;
                color: black;
                text-decoration: none;
            }
        }

        p {
            margin: 0;
        }

        #welcome-message {
            font-weight: 100;
        }

        #logout {
            position: relative;
            text-decoration: none;
        }

        #logout::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #8a5a56;
            transition: width 0.3s ease;
        }

        #logout:hover {
            color: #8a5a56;
            transition: color 0.2s;
        }

        #logout:hover::after {
            width: 100%;
        }

        #login {
            position: relative;
            text-decoration: none;
        }

        #login::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #8a5a56;
            transition: width 0.3s ease;
        }

        #login:hover {
            color: #8a5a56;
            transition: color 0.2s;
        }

        #login:hover::after {
            width: 100%;
        }

        #register {
            position: relative;
            text-decoration: none;
        }

        #register::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #8a5a56;
            transition: width 0.3s ease;
        }

        #register:hover {
            color: #8a5a56;
            transition: color 0.2s;
        }

        #register:hover::after {
            width: 100%;
        }
    }
}

html {
    background: url('../../assets/img/bg-main.jpg') center/cover;
    background-attachment: fixed;
}

.btn-validate-update {
    color: white;
    background: #ADD371;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease;
    width: 100px;
    margin-top: 20px;
}

.btn-validate-update:hover {
    cursor: pointer;
    background-color: rgb(29, 178, 78);
    transition: 0.1s ease;
}

.btn-delete {
    color: white;
    background: #8a5a5676;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease;
    width: 100px;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: #8a5a56;
    transition: 0.1s ease;
}

.btn-back {
    a {
        background-color: #56638aaf;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
    }
}

.form-container {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    box-shadow: 3px 3px 3px 3px rgba(171, 171, 171, 0.2);
    text-align: center;
    margin-top: 20px;

    .input-label-containers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        label {
            margin: 10px;
        }
    }

    .btn-container {
        margin-bottom: 10px;
    }

    .form-instructions {
        font-size: 0.9em;
        font-weight: 200;
    }

    input {
        width: 80%;
        padding: 10px 0;
        border: none;
        border-bottom: 2px solid rgba(82, 82, 82, 0.043);
        outline: none;
        transition: 0.1s ease;
    }

    input:focus {
        border-color: #0EB14E;
        transition: 0.1s ease;
    }

    .form-instructions {
        padding-bottom: 20px;
    }

}

.hidden {
    display: none;
}

.focusing {
    background-color: #5EB950;
    color: white;
}

@media screen and (max-width: 360px) and (max-height: 740px) {
    header {
        nav {
            margin: 10px 2px;
        }
    }

    section {
        margin-top: 40px;
    }
}

@media screen and (max-width: 360px) and (max-height: 740px) {
    .form-container {
        width: 300px;
    }

    header {
        nav {
            margin: 0;
        }

        h1 {
            margin-left: 10px;
        }

        ul {
            padding: 0;
            margin-right: 10px;
        }
    }

    section {
        margin-top: 0;
    }
}