<header>
	<nav>
		<h1>GestInfoPro</h1>
		<ul>
			{% if company %}
				<li>
					{% if company %}
						<p id="welcome-message">Bonjour,
							{{company.status}}</p>
					{% endif %}
				</li>
				<li>
					<a id="logout" href="/logout">Déconnexion</a>
				</li>

			{% else %}
				<li>
					<a href="/login">Se connecter</a>
				</li>
				<li>
					<a href="/register">Créer un compte</a>
				</li>
			{% endif %}

		</ul>
	</nav>
</header>
